<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Copelandia!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1><a href="{{ path('homepage') }}">Copelandia</a></h1>
        <div style="position:absolute;top:20px;right:100px;">
          <a href="{{ path('login') }}">Login</a>
          <a href="{{ path('lullabot_drupal_register') }}">Register</a>
          <a href="{{ path('lullabot_recipe_create') }}">Submit recipe</a>
        </div>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
              <p style="color:pink;font-weight:bold;">{{ flashMessage }}</p>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
